/* Required flag: 
	- toolkit.legacyUserProfileCustomizations.stylesheets = true 
*/

@media (-moz-gtk-theme-family: adwaita) or (-moz-gtk-theme-family: yaru) {
    .titlebar-button > .toolbarbutton-icon {
        background-color: color-mix(in srgb, currentcolor 0%, transparent) !important;
    }
}

@media (-moz-gtk-theme-family: adwaita) or (-moz-gtk-theme-family: yaru) {
    .titlebar-button:hover > .toolbarbutton-icon {
        background-color: color-mix(in srgb, currentcolor 10%, transparent) !important;
    }
}


/* remove top left space in windowed mode */
.titlebar-spacer {
	display:none !important;
}

/* remove extension button in top right corner */
#unified-extensions-button {
	display:none !important;
}

/* remove login alert */
#appMenu-popup #appMenu-fxa-status2 {
	display:none !important;
}
#appMenu-popup .proton-zap#appMenu-fxa-separator {
	display: none !important;
}

/* remove facebook container extension icon and label */
#userContext-icons[tooltiptext="Facebook"] {
	display: none !important;
}

/* remove private browsing label */
#private-browsing-indicator-with-label {
	display: none !important;
}
